.main-filter-container {
  background-color: #593b59;
  margin-top: 20px;
  border-radius: 200px;
  padding: 8px 20px 30px 20px;
  width: auto;
}

.lower-text {
  position: absolute;
  left: 55px;
  top: 42px;
  font-size: 12px;
  color: rgb(32, 29, 29);
  font-weight: 500;
}
.check-box-div {
  float: right;
}

.check-box {
  width: 22px;
  height: 22px;
}

.col-drop-down button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
.col-drop-down .btn:hover {
  color: gainsboro;
}
.col-drop-down .btn {
  color: gainsboro;
}
.icon {
  font-size: 28px;
  margin-right: 15px;
}
.col-drop-down .dropdown-menu {
  -webkit-box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.301961);
  box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
  border: 1px solid #dadbde;
  border-radius: 4px;
  background: #fff;
  border: none;
  width: 100%;
  position: absolute !important;
  top: 28px !important;
  left: 28px !important;
}
.col-drop-down .dropdown-menu.show {
  border: none;
}
.checkbox-list {
  padding: 5px 10px;
  margin: 0px;
}
.each-checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  color: #1f1f1f;
}
.discover-btn {
  margin-top: 15px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  color: rgb(187, 187, 187);
  border: 2px solid gray;
  border-radius: 25px;
  font-size: 12px;
  padding: 5px 20px;
  font-weight: 600;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}

.cardsWrapper .eventCard {
  width: calc(33.33% - 30px);
  margin: 15px;
}

.eventCard {
  background-color: #15181d;
  border-radius: 10px;
  padding: 10px;
}

.eventCard a{
  color: #fff !important;
  text-decoration: none;
}

.eventCard a:hover{
  color: #fff;
  text-decoration: underline;
}

.eventThumb {
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
  border-radius: 5px;
}

.eventThumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.learn-more{
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 15px;
  font-size: 20px;
}
.learn-more .icon{
  color: #7e4e7e;
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 20px;
}
.eventCard h3 {
  text-transform: capitalize;
  font-size: 23px;
}

.eventCard .info {
  margin-top: 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
  margin-bottom: 0;
}

.eventCard .info > li {
  width: calc(50% - 20px);
  margin: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.filter-top .icon{
  color: #593b59;
}

.maxwidth{
  max-width: max-content;
}

.cbtn{
  max-width: max-content;
  color: #fff !important;
}

.cbtn:hover{
  max-width: max-content;
  color: #fff;
}

.noEvents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  font-size: 30px;
}

.eventCard .info > li .icon {
  font-size: 19px;
  margin-right: 9px;
  position: relative;
  top: -1px;
}

@media (max-width: 991px) {
  .cardsWrapper .eventCard {
    width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .cardsWrapper .eventCard {
    width: calc(100% - 30px);
  }

  .main-filter-container {
    border-radius: 10px;
  }
}
