.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: rgba(36, 40, 48, 1);
    width:20%;
  }
  
  .right {
    right: 0;
    background-color: rgba(36, 40, 48, 1);
    width:80%;
    border-left: 4px solid #86497A;
  }
  
  .centered {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    
  }
  
  .b1 {
    border-style: solid;
    border-width: 1px;
  }
  
  .bgr-transparent {
    background-color: transparent;
    color: white;
  }
  
  .par {
    position: absolute;
    top:20%;
    left: 30%;
  }
  
  .bc--purple {
    border-color: rgba(128, 70, 116, 0.67);
  }
  
  .white {
    color: white;
  }
  
  
  .cwhite-input:focus {
    background: transparent;
    color: white;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-color: white;
  }
  
  .ev-type {
    margin-left:30px;
    color: white;
    margin-right:10px;
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
    border: solid;
    padding: 15px;
    border-width: 1px;
    border-color: rgba(128, 70, 116, 0.67);
  }
  
  .tab {
    margin-left: 2.5em;
    background-color: transparent;
    color: white;
    font: 0.8em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
  }
  
  .hover-white-event:hover {
    color: white;
    border-color: white;
  }
  .hover-white-event:focus {
    color: white;
  }
  
  .input-event:focus {
    background: transparent;
    color: white;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-color: white;
  }
  .input-event:first {
    background: transparent;
    color: white;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-color: white;
  }
  
  .ty {
    background-color: rgba(128, 70, 116, 0.67);
  }
  
  .width-85 {
    width: 85%;
  }
  
  .hover-cwhite:hover {
    color: white;
    border-color: white;
  }
  
  .hover-purple:hover {
    border-color: rgba(134, 73, 122, 0.67);
  }
  
  .titlecenter {
    margin-left: 35%;
  }
  
  .fww6 {
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
    font-style: normal;
    line-height: 150.5%;
    font-weight: normal;
  }
  
  .fww4 {
    font: 1em "Avantgarde", sans-serif;
    font-style: normal;
    align-items: center;
    line-height: 132.5%;
    letter-spacing: 0.1em;
    color:white;
  }
  
  .f4 {
    font-size: 2rem;
  }
  
  .f5 {
    font-size: 15px;
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
  }
  
  .ph0 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .pad {
    padding: 1rem;
  }
  
  .inp-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .margins {
    margin-top:30px;
    margin-left:30px;
  }
  
  .mybutton {
    background-color:#86497A59;
    border: solid #86497A59 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .brad {
    border-radius: 51px;
  }
  
  .mr-1 {
    margin-right:10px;
  }
  
  .ml-auto {
    margin-left:54rem;
  }
  
  
  .d-block {
    display:block;
  }
  
  ::placeholder { 
    color: white;
  }
  
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-align:left;
    padding:15px;
    word-wrap: break-word;
    display: block;
    font-size:1rem;
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
  }
  
  a:visited {
    color: white;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: none;
  }
  
  a:hover {
    color: #86497A;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: underline;
  }
  
  a:active {
    color: #86497A;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: underline;
  }
  
  
  .input-event:focus {
    background: transparent;
    color: white;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-color: white;
  }
  .input-event:first {
    background: transparent;
    color: white;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-color: white;
  }
 
  select option {
    background-color: rgba(36, 40, 48, 1);
    color: white;
    font: 0.9em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
  }

  .prof-image img {
    height:150px;
    width:150px;
    position:absolute;
    top:10px;
    padding-bottom:100px;
    left:50%;
    transform: translate(-50%, 0);
    border:3px solid #fff;
    border-radius: 50%;
    border: 5px solid #86497A;
}

.img-pos {
  top:50px;
  margin-left:10px;
}