
.split1 {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left1 {
    left: 0;
    background-color: rgba(36, 40, 48, 1);
    width:20%;
  }
  
  .right1 {
    right: 0;
    background-color: rgba(36, 40, 48, 1);
    width:80%;
    border-left: 4px solid #86497A;
  }
  
  .centered1 {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    
  }
  
  .b11 {
    border-style: solid;
    border-width: 1px;
  }
  
  .bgr-transparent1 {
    background-color: transparent;
    color: white;
  }
  
  .par1 {
    position: absolute;
    top:20%;
    left: 30%;
  }
  
  .bc--purple1 {
    border-color: rgba(128, 70, 116, 0.67);
  }
  
  .white1 {
    color: white;
  }
  
  
  .cwhite1-input:focus {
    background: transparent;
    color: white;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-color: white;
  }
  
  
  .width1-85 {
    width: 85%;
  }
  
  .hover1-cwhite:hover {
    color: white;
    border-color: white;
  }
  
  .hover1-purple:hover {
    border-color: rgba(134, 73, 122, 0.67);
  }
  
  .titlecenter1 {
    margin-left: 35%;
  }
  
  
  .fww61 {
    font: 1.1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
    font-style: normal;
    line-height: 150.5%;
    font-weight: normal;
  }
  
  .fww41 {
    font-style: normal;
    align-items: center;
    line-height: 132.5%;
    font: 1.1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
    color:white;
  }
  
  .f41 {
    font-size: 2rem;
  }
  
  .f51 {
    font-size: 15px;
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
  }
  
  .ph01 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .pad1 {
    padding: 1rem;
  }
  
  .inp-reset1 {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .margins1 {
    margin-top:30px;
    margin-left:30px;
  }
  
  .mybutton1 {
    background-color:#86497A59;
    border: solid #86497A59 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font: 1.1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .brad1 {
    border-radius: 51px;
  }
  
  .mr-111 {
    margin-right:900px;
  }
  
  .mr-top {
    margin-top: 100px;
  }
  
  .ml-auto1 {
    margin-left:52.9rem;
  }
  
  .d-block1 {
    display:block;
  }
  
  ::placeholder { 
    color: white;
  }
  
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-align:left;
    padding:15px;
    word-wrap: break-word;
    display: block;
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
  }
  
  a:visited {
    color: white;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: none;
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
  }
  
  a:hover {
    color: #86497A;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: underline;
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
  }
  
  a:active {
    color: #86497A;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: underline;
    font: 1em "Avantgarde", sans-serif;
    letter-spacing: 0.1em;
  }

  .prof-image3 img {
    height:150px;
    width:150px;
    position:absolute;
    top:10px;
    padding-bottom:100px;
    left:50%;
    transform: translate(-50%, 0);
    border:3px solid #fff;
    border-radius: 50%;
    border: 5px solid #86497A;
}

.img-pos3 {
  top:50px;
  margin-left:10px;
}

.prof-image5 img {
  height:11rem;
  width:11rem;
  margin-left:3em;
  position:absolute;
  transform: translate(-50%, 0);
  border:3px solid #fff;
  border-radius: 50%;
  border: 5px solid #86497A;
}


.par1 {
  position: absolute;
  top:15%;
  left: 30%;
}
  