.border-admin {
  border-style: solid;
  border-width: 1px;
}

.display-admin-table {
  display: table;
}

.display-admin-table-cell {
  display: table-cell;
}

.width-admin-100 {
  width: 100%;
}

.height-admin-auto {
  height: auto;
}

.height-admin-auto {
  height: auto;
}

.padding-admin {
  padding: 20px;
}

.border-admin {
  border-radius: 2px;
  box-shadow: -1px -1px 0px 0px #c14195;
  border-radius: 25px;
}

.padding-bottom-admin {
  padding-bottom: 0.5rem;
}

.component-admin {
  position: relative;
  color: #ffff;
  margin-top: 20px;
}

.button-admin {
  font-size: 18px;
  padding: 3px;
  color: #ffff;
  font-family: "Poppins", cursive;
  background-color: #86497a;
  height: 40px;
  width: 80px;
  border-radius: 25px;
  border-color: #86497a;
  cursor: pointer;
  margin-right: 20px;
}

.border-black-admin {
  border-color: rgba(0, 0, 0, 0.1);
}

.border-radius-admin {
  border-radius: 100%;
}

.display-block-admin {
  display: block;
}

.font-weight-admin-desc {
  font-weight: 400;
}

.font-weight-admin-name {
  font-weight: 600;
}

.button-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.height-admin-2rem {
  height: 2rem;
}

.line-height-admin-title {
  line-height: 1.25;
}

.width-admin-main {
  width: 75%;
}

.width-admin-2rem {
  width: 2rem;
}

.white-admin {
  color: #ffff;
}

.bg-white {
  background-color: #fff;
}

.padding-left-admin {
  padding-left: 1rem;
}

.margins-tb-admin {
  margin-top: 0;
  margin-bottom: 0;
}

.text-allgn-right {
  text-align: right;
}

.font-size-admin {
  font-size: 0.875rem;
}

.center-admin-auto {
  margin-right: auto;
  margin-left: auto;
}

.vertical-allign-mid {
  vertical-align: middle;
}

@media screen and (min-width: 30em) {
  .h3-ns {
    height: 4rem;
  }

  .w3-ns {
    width: 4rem;
  }

  .f5-ns {
    font-size: 1rem;
  }
}
