body {
    background-color: rgba(36, 40, 48, 1);
}

.EventProfile-container .EventTitle {
    width: 100%;
    height: 1em;
    font: 1.1em "Avantgarde", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;

}

.EventProfile-container .UsersGoing {
    width: 100%;
    height: 2em;
    font: 1.1em "Avantgarde", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 132.5%;
    color: #FFFFFF;
}


.EventProfile-container a:link{
    color: white;
    text-align: left;
    padding: 0%;
    font: 1.1em "Avantgarde", sans-serif;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.EventProfile-container .Location {

    width: 100%;
    height: 1.8em;
    font: 1.1em "Avantgarde", sans-serif;
    font-weight: normal;
    font-size: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.EventProfile-container .Price {

    width: 100%;
    height: 1.8em;
    font: 1.1em "Avantgarde", sans-serif;
    font-weight: normal;
    font-size: 24px;


    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.EventProfile-container .Date {

    width: 100%;
    height: 1.8em;

    font: 1.1em "Avantgarde", sans-serif;
    font-weight: normal;
    font-size: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.EventProfile-container .Time {

    width: 100%;
    height: 1.8em;

    font: 1.1em "Avantgarde", sans-serif;
    font-weight: normal;
    font-size: 24px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.EventProfile-container .anyButton {

    background-color:transparent;
    border: solid #86497A 1px;
    color: white;
    padding: 11px 30px;
    text-align: center;
    font: 1.1em "Avantgarde", sans-serif;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}


.EventProfile-container .brad {
    border-radius: 51px;
}

.EventProfile-container .marginEventProf {
    margin-top: 0.6em;
    width: 9em;
}


.EventProfile-container .Description {
    width: 100%;
    height: 175px;
    font: 1.1em "Avantgarde", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 32px;
    color:rgba(255, 255, 255, 0.63);
}

.EventProfile-container .LeftSide {
    position: absolute;
    left: 0%;
    width: 50%;
  }

.EventProfile-container .RightSide{
    position: absolute;
    right: 0%;
    width: 50%;
}

.EventProfile-container .leftPadding{
    padding-left: 1.5em;
}

.EventProfile-container .rightPadding{
    padding-right: 1.5em;
}

.EventProfile-container a:hover {
    color: #86497A;
  }

.EventProfile-container p {
    color: white;
    font-size: 24px;
    display: flex;
}

.EventProfile-container a * {
    color: white;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: underline;
    letter-spacing: 0.1em;
    font: 1.1em "Avantgarde", sans-serif;
}

#highlight, #highlight:hover, #highlight:active, #highlight:focus {
    color: white;
}