.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    background-color: #242830;
  
    background-image: url("https://s3-alpha-sig.figma.com/img/fd91/1d59/465e50afa8c8c37d56ab1ca069a02333?Expires=1638144000&Signature=ON7sjHa~OAJKoJ0fBPVqnwm0DJQJRno2Goo-gQ4-gMiQbVxxTdrLdXrwy78KflSfKpFR-ngmI1~zQF7sag76ZEi~DqD7iU0MbonR1cuYzxPbVekZB6JA1ICfmJouRDf15dx7CeZGxmlTsmJAXoU9J4clQ8BaqJ9UxZpFiSCqFE32GMT2lRPqcKRk7OfzhQm4O9-w6-Wv-wUMAkpmDoY54Z9k4IatmVQNYMf6OB7XeTOY1j8xbkHVnnqwuoc7Q1Yw3sjS9AZVG4RhWTdtksoPDaHEYmAL~f0C8FOuqw9MyeFGOYBJztz1bFjUo5U68UDWf4wcHpwn3xZCnas7bRF9nw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
  
    position: fixed;
    min-height: 90vh;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  .descriere {
    margin: 50px;
  }
  
  h1 {
    color: #ffff;
    font-weight: 600;
    font-size: 72px;
  }
  
  p {
    color: rgba(255, 255, 255, 0.58);
    font-size: 18px;
  }
  
  .colorHome1 {
    color: #86497a;
  }
  
  .colorHome2 {
    color: #e9a6a6;
  }
  
  .new-account-home {
    font-size: 21px;
    color: #ffff;
    font: 1em "Avantgarde",sans-serif;
    background-color: #86497a;
    height: 40px;
    width: 250px;
    border-radius: 25px;
    border-color: #86497a;
    cursor: pointer;
    letter-spacing: 0.1em;
  }

  .font-home-description {
    font: 1.1em "Avantgarde",sans-serif;
    letter-spacing: 0.1em;
  }