
.all { 
    background-color: #242830;
}

.main-filter-container {
    background-color: #593B59;
    margin-top: 260px;
    border-radius: 200px;
    padding: 8px 20px 30px 20px;
    width: auto;
}


.lower-text {
    position: absolute;
    left:55px;
    top: 46px;
    font-size: 12px;
    color: rgb(32, 29, 29);
    font-weight: 500;
}

.check-box-div{
    float: right;

}

.check-box{
    width: 22px;
    height: 22px;
}

.col-drop-down button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}
.col-drop-down .btn:hover{
    color: gainsboro ;

}
.col-drop-down .btn {
    color: gainsboro ;
}
.icon{
    font-size: 28px;
    margin-right: 15px;
}
.col-drop-down .dropdown-menu {
    -webkit-box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 6px 12px rgba(0,0,0,0.301961);
    box-shadow: 5px 6px 12px rgb(0 0 0 / 30%);
    border: 1px solid #dadbde;
  /*  border-radius: 4px; */ 
  border-radius: 19px;
    background: #fff;
    border: none;
    width: 100%;
    position: absolute !important;
    top: 28px !important;
    left: 28px !important;

}
.col-drop-down .dropdown-menu.show {
    border: none;
}
.checkbox-list{
    padding: 5px 10px ;
    margin: 0px;
    
}
.each-checkbox{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin: 0px;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans",sans-serif; 
  
    color: #1f1f1f;
}
.discover-btn{
    margin-top: 15px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    list-style: none;
    font-family: "Open Sans",sans-serif;  
 
   color: white; 
    
    border: 2px solid white;
    border-radius: 25px;
    font-size: 12px;
    padding: 5px 20px ;
    font-weight: 600;
}

img { 
    opacity: 0.5;
}

.my-title { 
 
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 96px;
line-height: 132.5%;
/* or 48px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;
}



  .top-events { 
     
      position: absolute;
      left: 10.33%;
      right: 0%;
      top: 7%;
      bottom: 0%;
      
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 132.5%;
      /* or 40px */
      
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.1em;
      margin-top: 50px; 
      color: #FFFFFF;

   
  }

  .icon-star { 
    position: absolute;
    left: 8%;
    right: 0%;
    top: 7%;
    bottom: 0%;
    margin-top: 50px;
       
    display: flex;
    align-items: center;
    color: #593B59;
    font-size: 25px; 
    

  }

  .cards { 
      margin-top: 40px; 
  }

  .all-background { 
      background-color: #242830; 

  }

  .text-below { 
      width: 50%; 
      margin-left: 50px;
  }
  
  