.container-box {
    position:relative;
    display: grid;
    grid-template-rows: 350px 1fr;
}
.profile-image img {
    height:200px;
    width:180px;
    position:absolute;
    top:100px;
    left:50%;
    transform: translate(-50%, 0);
    border:3px solid #fff;
    border-radius: 50%;
    border: 5px solid #86497A;
}
#profile-back-photo{
    width: 100%;
    height: 200px;
    border-bottom: 5px solid #86497A;
}

.profile-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: auto;
    width: 400px;
    margin-top: 10px;
    color: #ffff;
}

.icon{
    cursor: pointer;
    font-size: 50px;
}

.profile-button{
    align-self: center;
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 49px;
    font-size: 24px;
    cursor: pointer;
}

.profile-details p{
    width: 50%;
    color: white;
    text-align: center;
    margin: 10px auto;
}

.profile-description {
    text-align: center;
    width: 50%;
    height: auto;
    align-self: center;
    padding: 5px;
    color: white;
    background-color: transparent;
    margin: auto;
}
 
.grow-connect {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .grow-connect:hover,
  .grow-connect:focus {
    transform: scale(1.05);
  }
  
  .grow-connect:active {
    transform: scale(0.9);
  }