body {
    background-color: rgba(36, 40, 48, 1);
}

.split2 {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.marg-b {
    margin-bottom: 50px;
}

.marg-t {
    margin-top:20px;
}
  
.left2 {
    left: 0;
    background-color: rgba(36, 40, 48, 1);
    width:20%;
}
  
.right2 {
    right: 0;
    background-color: rgba(36, 40, 48, 1);
    width:80%;
    border-left: 4px solid #86497A;
}

.centered2 {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    
}

.b12 {
    border-style: solid;
    border-width: 1px;
}

.bgr-transparent2 {
    background-color: transparent;
    color: white;
}

.par2 {
    position: absolute;
    top:20%;
    left: 30%;
}

.bc--purple2 {
    border-color: rgba(128, 70, 116, 0.67);
}

.white2 {
    color: white;
}


.cwhite2-input:focus {
    background: transparent;
    color: white;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-color: white;
}


.width2-85 {
    width: 85%;
}

.hover2-cwhite:hover {
    color: white;
    border-color: white;
}

.hover2-purple:hover {
    border-color: rgba(134, 73, 122, 0.67);
}

.titlecenter2 {
    margin-left: 35%;
}


.fww62 {
    font: "Century Gothic";
    font-style: normal;
    line-height: 150.5%;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.fww42 {
    font: "Century Gothic";
    font-style: normal;
    align-items: center;
    line-height: 132.5%;
    letter-spacing: 0.1em;
    color:white;
}

.f42 {
    font-size: 2rem;
}

.f51 {
    font-size: 15px;
    font-family:"Century Gothic";
}

.ph02 {
    padding-left: 0;
    padding-right: 0;
}

.pad2 {
    padding: 1rem;
}

.inp-reset2 {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.margins2 {
    margin-top:30px;
    margin-left:30px;
}

.mybutton2 {
    background-color:#86497A59;
    border: solid black 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family:"Century Gothic";
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.brad2 {
    border-radius: 51px;
}

.mr-12 {
    margin-right:100px;
}

.mr-top2 {
    margin-top: 100px;
}

.ml-auto2 {
    margin-left:980px;
}

.d-block2 {
    display:block;
}

::placeholder { 
    color: white;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-align:left;
    padding:15px;
    word-wrap: break-word;
    display: block;
    font-size:1rem;
    font-family:"Century Gothic";
}

a:visited {
    color: white;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: none;
}

a:hover {
    color: #86497A;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: underline;
}

a:active {
    color: #86497A;
    background-color: rgba(36, 40, 48, 1);
    text-decoration: underline;
}

